link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.6.4/tailwind.min.css")

- let guild = msg.guild
.server.h-screen
  .head.flex.items-center.justify-center.py-5
    if iconURL
      img.h-24.rounded-full.mr-3(src=guild.iconURL)
    else
      - let abbr = guild.name.replace(/(\w)\w+/gi, '$1').replace(/\s/g, '')
      .no-icon.h-24.w-24.rounded-full.mr-3.flex.items-center.justify-center.overflow-hidden
        span.text-5xl #{abbr}
    p.text-3xl #{guild.name}
  .members.flex.py-4
    .flex-1
      p.text-center.text-xl.font-semibold.mb-2 Owner
      .flex.justify-center
        - let owner = guild.owner.user
        img.h-8.rounded-full(src=owner.displayAvatarURL)
        .flex.items-center.pl-1
          p.text-xl #{owner.username}
            span.text-sm.text-muted ##{owner.discriminator}
    .flex-1
      p.text-center.text-xl.font-semibold.mb-2 Size
      .flex.flex-col.items-center
        - let membersOnline = guild.members.filter(m => m.user.presence.status !== 'offline').size
        p.font-semibold #{guild.memberCount} Members
        p.font-semibold.text-sm.text-muted #{membersOnline} Online
